:root {
  --bg-app: #292e37; /* calculator body */
  --bg-button: #2f3747; /* number buttons */
  --bg-action: #c45adc; /* operators (=, +, -) */
  --text-primary: #e5e7eb; /* numbers  check color video*/
  --text-secondary: #e074f9; /* operators / accents  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: linear-gradient(135deg, #4b3652 0%, #2a1b2e 100%);
  /* Disables all panning and zooming behavior on mobile  */
  touch-action: none;
}

/* Main Calculator */
.app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 400px;
  height: auto;
  background-color: var(--bg-app);
  border-radius: 48px;
  border: 3px solid #ffffff;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

/* Display */
.calculator__display {
  height: 230px;
  background-color: var(--bg-app);
  border-radius: 48px 48px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 37px;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
}
.calculator__display__number {
  color: var(--text-primary);
}

.calculator__display__number--top {
  font-size: 24px;
  font-weight: 200;
}

.calculator__display__number--bottom {
  font-size: 64px;
}

/* Controls */
.calculator__button:disabled {
  background-color: #c0b2c9;
}
.calculator__controls {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
}

.calculator__button {
  background-color: var(--bg-button);
  color: var(--text-primary);
  border: none;
  padding: 35px 35px;
  font-size: 18px;
  transition: transform 0.05s ease;
}

.calculator__button:active {
  transform: translateY(2px);
}

.calculator__button--equals {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  border-bottom-right-radius: 48px;
  background-color: var(--bg-action);
}

.calculator__button--decimal {
  grid-column-start: 1;
  grid-row-start: 5;
  border-bottom-left-radius: 48px;
}

.calculator__button--subtract {
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: var(--bg-action);
}

.calculator__button--add {
  grid-column-start: 4;
  grid-row-start: 3;
  background-color: var(--bg-action);
}

.calculator__button--clear_last {
  grid-column-start: 4;
  grid-row-start: 1;
  background-color: var(--bg-action);
}

.calculator__button--clear_all {
  grid-column-start: 1;
  grid-row-start: 1;
  color: var(--text-secondary);
}

.calculator__button--divide {
  grid-column-start: 2;
  grid-row-start: 1;
  color: var(--text-secondary);
}
.calculator__button--multiply {
  grid-column-start: 3;
  grid-row-start: 1;
  color: var(--text-secondary);
}

@media screen and (max-width: 440px) {
  .app {
    height: 80dvh;
  }
  .calculator {
    width: 350px;
  }

  .calculator__display {
    height: 205px;
    padding: 37px;
  }
  .calculator__button {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 395px) {
  .app {
    height: 100dvh;
  }
}
